# this directory allow pipenv to initialise the virtualenv inside
# the project directory by default
#
# @see https://stackoverflow.com/a/57922911
/.venv/**
!/.venv/.gitkeep

__pycache__
**/*.pyc
/.coverage
/.idea
/dist
/htmlcov
/.venv
*.egg-info
.tox
/.pytest_cache
